@{
    ViewBag.Title = "Contact";
}


<address>
   42 Mushroom Kingdom Way<br />
    Hyrule, SO 98052-3399<br />
    <abbr title="Phone">TEL:</abbr>
    999.424.8870
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Vgs-Sup@example.com">Vgs-Sup@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Vgs-Mart@example.com">Vgs-Mart@example.com</a>
</address>