@{
    ViewBag.Title = "Home";
}
@Styles.Render("~/Content/Site.css")

<div class="jumbotron">
    <h1 class="title">VGS</h1>
    <p class="context">Welcome to VGS! We offer an easy, satisfying shopping experience to any and all costumers. Enjoy your visit!</p>
</div>

<div class="row">
     <h1 class="text-center">Now in store, RAGE 2!!</h1>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="video-home col-md-8">
        <video width="600" controls>
            <source src="Content/videos/rage_2.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="col-md-2"></div>
</div>
